langchain-openai
langchain
python-dotenv
langchain_community
langchain_groq
langchain_core
langchain_text_splitters
streamlit
langchain_classic
pypdf
faiss-cpu
Chromadb
langchain_chroma
bs4
arxiv
pymupdf
wikipedia
sentence_transformers
langchain_huggingface
duckdb
pandas
duckduckgo-search
mysql-connector-python
youtube_transcript_api
unstructured
pytube
numexpr
arxiv==2.1.3
wikipedia==1.4.0
ipykernel
ddgs
mssql_python
pymssql
pyodbc
validators==0.28.1
youtube_transcript_api
numexpr
langchain-huggingface
huggingface_hub
langchain-xai
gradio
authlib